@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .ms-svg-fill-white path {
      @apply fill-white;
    }
    .ms-svg-fill-msprimary path {
      @apply fill-msprimary;
    }
    .ms-svg-stroke-white path {
      @apply stroke-white;
    }
    .ms-svg-stroke-msprimary path {
      @apply stroke-msprimary;
    }

    .bg-arrow-select {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjQnIGhlaWdodD0nMjUnIHZpZXdCb3g9JzAgMCAyNCAyNScgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNNiA5LjkzMTE1TDEyIDE1LjkzMTJMMTggOS45MzExNScgc3Ryb2tlPSd3aGl0ZScgc3Ryb2tlLW9wYWNpdHk9JzAuMjUnIHN0cm9rZS13aWR0aD0nMS41JyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnLz48L3N2Zz4K");
      background-position: 95% 9px;
    }

    .gradient-circle-one {
      position: absolute;
      z-index: 2;
    
      width: 1072px;
      height: 1072px;
      left: -346px;
      top: -58px;
    
      background: radial-gradient(50% 50% at 50% 50%, #1040FF 0%, rgba(1, 1, 1, 0) 100%);
      opacity: 0.2;
    }
    
    .gradient-circle-two {
      position: absolute;
      z-index: 2;
      
      width: 1335px;
      height: 1335px;
      right: -559px;
      top: -92px;
    
      background: radial-gradient(50% 50% at 50% 50%, #1040FF 0%, rgba(1, 1, 1, 0) 100%);
      opacity: 0.2;
    }
}